<footer class="footer">
  <div class="row">
    <div class="col-sm-12">
      <div class="footer__logo-box text-center">
        <img
          src="../img/logo-animated-3holes.png"
          alt=" Full logo"
          class="footer__logo footer__logo--3holes"
        />
        <img
          src="../img/logo-animated-2holes.png"
          alt=" Full logo"
          class="footer__logo footer__logo--2holes"
        />
        <img
          src="../img/logo-animated-1hole.png"
          alt=" Full logo"
          class="footer__logo footer__logo--1hole"
        />
        <img
          src="../img/logo-animated-default.png"
          alt=" Full logo"
          class="footer__logo footer__logo--default"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/contact" class="footer__link">Contact</a>
          </li>
          <li class="footer__item">
            <a href="/range" class="footer__link">Range</a>
          </li>
          <li class="footer__item">
            <a href="/classes-and-training" class="footer__link">Training</a>
          </li>
          <li class="footer__item">
            <a href="/gunsmithing" class="footer__link">Gunsmithing</a>
          </li>
          <li class="footer__item">
            <a
              href="https://www.gunbroker.com/Auction/BrowseItems.aspx?IncludeSellers=760893"
              class="footer__link"
              target="_blank"
              >Store</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <p class="footer__copyright">
        <a href="" class="footer__link">OakridgeGunRange.com</a> was built with
        love for the
        <a href="#" class="footer__link">Second Amendment</a>.<br />
        Copyright &copy: Oakridge Gun Range Inc. 2017.
      </p>
    </div>
  </div>
</footer>
