<header class="header">
  <%- include('../components/nav'); %>

  <div class="header__main-section">
    <div class="image-slider">
      <div class="image-slider__box">
        <img
          src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-02.png"
          alt="main range image"
          class="image-slider__image"
        />
        <img
          src="http://oakridgegunrange.com/wp-content/uploads/2013/11/ORGR-Slide-01.png"
          alt="main range image"
          class="image-slider__image"
        />
        <img
          src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-05.png"
          alt="main range image"
          class="image-slider__image"
        />
        <img
          src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-031.png"
          alt="main range image"
          class="image-slider__image"
        />
        <img
          src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-041.png"
          alt="main range image"
          class="image-slider__image"
        />
      </div>
    </div>
  </div>
</header>
