<header class="header">
  <%- include('../components/nav'); %>

  <div class="header__secondary-section">
    <div class="header-static">
      <div class="header-static__box">
        <h1 class="heading-primary__main">
          Welcome to our state-of-the-art range
        </h1>
        <h2 class="heading-primary__sub my-top-medium">READY. AIM. SHOOT.</h2>
      </div>
    </div>
  </div>
</header>
