<header class="header">
  <div class="header__info-box text-center">
    <div class="row">
      <div class="col-sm-4">
        <div class="header__info-box-item">407-857-5663</div>
      </div>
      <div class="col-sm-8">
        <div class="header__info-box-item">
          Open 7 Days A Week - Monday – Saturday : 9am – 9pm - Sunday: 11am –
          6pm
        </div>
      </div>
    </div>
  </div>
  <%- include('../components/nav'); %>

  <div class="header__main-section">
    <div class="image-slider">
      <div class="image-slider__box">
        <img
          src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-02.png"
          alt="main range image"
          class="image-slider__image"
        />
        <img
          src="http://oakridgegunrange.com/wp-content/uploads/2013/11/ORGR-Slide-01.png"
          alt="main range image"
          class="image-slider__image"
        />
        <img
          src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-05.png"
          alt="main range image"
          class="image-slider__image"
        />
        <img
          src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-031.png"
          alt="main range image"
          class="image-slider__image"
        />
        <img
          src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-041.png"
          alt="main range image"
          class="image-slider__image"
        />
      </div>
    </div>
  </div>
</header>
