<header class="header">
  <%- include('../components/nav'); %>

  <div class="header__tertiary-section">
    <div class="header-static">
      <div class="header-static__box">
        <h1 class="heading-primary__main">
          A variety of classes and training services
        </h1>
        <h2 class="heading-primary__sub my-top-medium">
          CWP Classes, Firearm Training,
          <span>and Unlimited Firearm Instruction</span>
        </h2>
      </div>
    </div>
  </div>
</header>
