.header {
  position: relative;

  &__info-box {
    padding: 0.5rem;
    background-color: $color-secondary-dark;
    color: $color-white;
  }
  &__info-box-item {
    font-size: $default-font-size;

    &--left {
      padding: 0.2rem 0;
    }

    &--right {
      span {
        display: block;
      }
      span i {
        padding-right: 0.5rem;
      }
    }
  }
  &__main-section {
    position: relative;
    height: 60vh;
    z-index: -1;

    @include responsive(phone) {
      height: 40vh;
    }

    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url("../img/hero-1.jpg");
    background-size: cover;
  }

  &__secondary-section {
    position: relative;
    height: 55vh;
    z-index: -1;

    @include responsive(phone) {
      height: 40vh;
    }

    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      ),
      url("../img/range-9.png");
    background-size: cover;
  }
  &__tertiary-section {
    position: relative;
    height: 55vh;
    z-index: -1;

    @include responsive(phone) {
      height: 40vh;
    }

    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark, 0.8),
        rgba($color-secondary-dark, 0.8)
      ),
      url("../img/hero-2.jpg");
    background-size: 100% 100%;
  }

  &__quad-section {
    position: relative;
    height: 55vh;
    z-index: -1;

    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)
      ),
      url("../img/carousel-1.jpg");
    background-size: 100% 100%;
  }
}
