*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include responsive(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include responsive(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include responsive(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  font-family: "Lato, sans-serif";
  background-color: $color-tertiary-light;
  // padding: 3rem;

  @include responsive(tab-port) {
    // width < 900?
    padding: 0px;
    margin: 0px;
  }
  @include responsive(small-phone) {
    // width < 400?
    padding: 0px;
    margin: 0px;
  }
}

.container-fluid {
  padding: 0px;
  @include responsive(tab-port) {
    // width < 900?
    padding: 0px;
    margin: 0px;
  }
  @include responsive(small-phone) {
    // width < 400?
    padding: 0px;
    margin: 0px;
  }
}

a:hover {
  color: $color-white;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

span {
  display: block;
}

hr {
  background-color: $color-white;
  width: 75%;
  margin: 0 auto;
}

.w100 {
  width: 100%;
}

.--red {
  background-color: $color-primary-light;
}
