body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  font-family: $default-font-family;
  transition: all 0.5s;

  &--red {
    color: $color-primary;
  }

  &__main {
    color: $color-yellow-1;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 1s;
    @include responsive(phone) {
      letter-spacing: 1rem;
      font-size: 2rem;
    }
  }

  &__sub {
    color: $color-white;

    font-size: 2.5rem;
    animation-name: moveInBottom;
    animation-duration: 1s;
    margin-bottom: 3rem;
    @include responsive(phone) {
      letter-spacing: 1rem;
      font-size: 1.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $default-font-family;

  &--white-large {
    color: $color-white;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $default-font-family;
  }

  &--white {
    color: $color-off-white;
  }

  &--black {
    color: black;
  }

  &--info-orange {
    color: $color-info-orange;
  }

  &--dark-red {
    color: $color-primary-dark;
  }

  &--red {
    color: $color-primary;
  }

  &__sub {
    color: $color-white;

    font-size: 3rem;
    margin-bottom: 3rem;
    &--yellow {
      color: $color-yellow-1;
    }

    &--red {
      color: $color-primary;
    }

    &--dark-red {
      color: $color-primary-dark;
    }

    @include responsive(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &__large {
    color: $color-white;
    font-size: 3.5rem;
    margin-bottom: 1rem;

    &--red {
      color: $color-primary;
    }

    @include responsive(phone) {
      letter-spacing: 1rem;
      font-size: 2.5rem;
    }
  }

  @include responsive(phone) {
    font-size: 3rem;
  }

  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  &:hover {
    background-image: linear-gradient(
      to right,
      lighten($color-primary-light, 15%),
      lighten($color-primary-dark, 15%)
    );
  }
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $default-font-family;
  &__sub {
    color: $color-white;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    &--yellow {
      color: $color-yellow-1;
    }
    &--red {
      color: $color-primary-light;
    }
    @include responsive(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }
  &--black {
    color: $color-black;
  }
}
.paragraph-info {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: $default-font-family;
}
.paragraph-info-medium {
  font-size: 2rem;
  font-weight: 500;
  font-family: $default-font-family;
}
.paragraph-info-large {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: $default-font-family;
}
