<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="come on over to Oakridge gun range located in Orlando, Florida.  We have indoor shooting, gun rentals, concealed weapons permits, long-guns, gun classes, and gun training. "
  />

  <link rel="shortcut icon" type="image/png" href="img/iconicon-logo-1.png" />

  <link
    href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
    rel="stylesheet"
  />

  <link rel="shortcut icon" type="image/png" href="img/floo-emote.png" />

  <title>Oakridge Gun Range | Ready. Aim. Shoot.</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />

  <link rel="stylesheet" href="/css/icon-font.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
