<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar__logo-box">
    <img
      src="./img/logo-trans-holes3.png"
      alt="range-logo"
      class="navbar__logo-image navbar__logo-image--3holes"
    />
    <img
      src="./img/logo-trans-holes2.png"
      alt="range-logo"
      class="navbar__logo-image navbar__logo-image--2holes"
    />
    <img
      src="./img/logo-trans-hole1.png"
      alt="range-logo"
      class="navbar__logo-image navbar__logo-image--1hole"
    />
    <img
      src="./img/logo-trans-default.png"
      alt="range-logo"
      class="navbar__logo-image navbar__logo-image--default"
    />
  </div>
  <button
    class="navbar__toggler navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar__toggler-icon navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar__main-nav" id="navbarNav">
    <ul class="navbar__nav navbar-nav">
      <li class="nav-item navbar__nav-items">
        <a href="" class="navbar__nav-link">Home</a>
      </li>
      <li class="nav-item navbar__nav-items">
        <a href="" class="navbar__nav-link">Range Info</a>
      </li>
      <li class="nav-item navbar__nav-items">
        <a href="" class="navbar__nav-link">Classes & Training</a>
      </li>
      <li class="nav-item navbar__nav-items">
        <a href="" class="navbar__nav-link">Gun Smithing</a>
      </li>
      <li class="nav-item navbar__nav-items">
        <a href="" class="navbar__nav-link">Store</a>
      </li>
    </ul>
  </div>
</nav>
