<div class="row">
  <div class="col-sm-12">
    <div class="sidebar-and-info">
      <div class="row">
        <div class="col-sm-4">
          <div class="sidebar-and-info__sidebar text-left">
            <h2 class="heading-secondary__sub text-center py-top-small">
              CWP Classes FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              CWP classes
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              $60 for a CWP class
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              CWP classes: <span>Monday - Saturday</span> <span>9:00 AM - Noon
                or </span><span>12:30pm - 3:30 PM</span>
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              CWP night classes: <span>Wednesday</span> <span>5:00 PM - 8:00 PM</span>
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              CWP length: 3 hours
            </h2>

            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              NRA firearm instruction
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Safety and patience is our motto!
            </h2>
          </div>

          <div class="sidebar-and-info__sidebar text-left my-top-small
            my-bottom-big">
            <h2 class="heading-secondary__sub text-center py-top-medium">
              Firearm Training FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              $50 for personal one-on-one instruction
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              $12 for each additional shooter
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Choose any of our 50 rental guns or bring your own firearm
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Ammo and targets are charged separately
            </h2>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="sidebar-and-info__info-bar">
            <h2 class="heading-secondary text-center heading-secondary--bolder">
              Classes & Training Information
            </h2>
            <h2 class="heading-tertiary text-center py-top-small">
              Concealed Weapons Permit classes and firearm training offered.
              <span>We love teaching our customers!</span>
            </h2>
            <div class="row my-top-medium">
              <div class="col-sm-12 my-bottom-medium">
                <h2 class="heading-tertiary--black text-center py-top-small
                  heading-tertiary--bolder">
                  CWP Hours and Fees
                </h2>
                <p class="paragraph-info my-top-small">
                  The Concealed Weapon Permit Safety Course is a 3 hour class
                  required in order to conceal carry a firearm. We offer CWP
                  Classes Monday – Saturday from 9:00 AM - Noon or 12:30 - 3:30
                  PM In addition, we offer one evening class on Wednesdays from
                  5:00 PM - 8:00 PM.
                  <span class='my-4'>Some additional information about our CWP
                    classes:</span>
                  <ul class="px-4 paragraph-info">
                    <li>The class costs $60.00 (Includes gun & ammunition used
                      during range portion, certificate for completing class,
                      and application).</li>
                    <li>No appointment is required to attend our classes. All we
                      ask is that you show up five or ten minutes before the
                      class is scheduled to start.</li>
                    <li>In order to get your certificate you only need to attend
                      one three hour Course.</li>
                    <li>
                      All you need to bring with you is a form of Government
                      issued ID (examples: Driver’s License, Passport, Florida
                      Identification Card, etc.) and a form of payment. We
                      accept credit, debit, cash, or gift certificate for our
                      classes.
                    </li>
                  </ul>
                  <span class="my-4 paragraph-info">Persons applying for a FL
                    CWP must be at least 21 years of age and have completed
                    training through an NRA certified instructor. Honorably
                    discharged
                    veterans should submit a copy of their DD-214 form with
                    their application. The state of Florida does not permit Open
                    Carry. </span>
                </p>
              </div>
              <div class="col-sm-12">
                <h2 class="heading-tertiary--black text-center my-top-big
                  heading-tertiary--bolder">
                  Firearm Training
                </h2>
                <p class="paragraph-info my-top-small">
                  Our cost for firearm training is $50.00. Training includes
                  access to all of our rental firearms,
                  unlimited range time, and personal one on one instruction for
                  at least an hour. Ammo and targets are charged separately.
                  <span class='my-4'>If you are looking to purchase a firearm
                    but are new to shooting, we have you covered. Purchase of a
                    firearm from Oak Ridge Gun Range includes unlimited firearm
                    training at no extra cost! We won't let you leave our store
                    until
                    you feel 100% comfortable with the firearms you've
                    purchased.</span>
                    <span class='my-4'> We offer a <b>1 hour basic firearm training class</b> for those who enjoy a more personalized experience or want to improve their aim. 
                      These classes are $50 and run Tuesdays from 4:00pm-5:00pm and Sundays from 11:00am - 12:00pm.
                    </span>
                  <span class='my-4'> We also offer HR 218 QUALIFICATION for
                    retired Law Enforcement for $50.
                  </span>




                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
