<div class="row">
  <div class="col-sm-12">
    <div class="sidebar-and-info">
      <div class="row">
        <div class="col-md-4">
          <div class="sidebar-and-info__sidebar text-left">
            <h2 class="heading-secondary__sub text-center py-top-small">
              Range FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              $15 for the first shooter
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              $12 for each additional shooter
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Unlimited range time
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Includes eye and ear protection
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              7 Stalls
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Air Conditioned
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Free Firearm Instruction
            </h2>

            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              50+ rental guns
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              $20 one-time rental fee
            </h2>

            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              No membership required
            </h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="sidebar-and-info__info-bar">
            <h2 class="heading-secondary text-center">Range Information</h2>
            <h2 class="heading-tertiary text-center py-top-small">
              Daily Range Fee is $15 per shooter || $12 each additional shooter
              <span>Safety is our #1 Priority</span>
            </h2>
            <div class="row my-top-medium">
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  Fees, Hours, and Specials
                </h2>
                <p class="paragraph-info my-top-small">
                  We are open 7 days a week from 9am – 9pm Monday through
                  Saturday and 11am – 6pm on Sundays. We welcome first time
                  shooters as well as experienced shooters. Our daily Range Fees
                  are $15 first shooter, $12 for each additional person on the
                  lane.
                  <span class="my-4"
                    >Our specials include Ladies Day’s Fridays where all ladies
                    can shoot for $7.50 (50% off) of the range fee. We also have
                    military and veterans day on Tuesdays where any active or
                    retired military can shoot for $10 (33% off)!</span
                  >
                </p>
              </div>
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  Gun Rentals
                </h2>
                <p class="paragraph-info my-top-small">
                  At Oakridge Gun Range you can bring your own gun or rent one
                  from our inventory!
                  <span class="my-4"
                    >The cost to access all of our rentals is a one-time fee of
                    $20. Just make sure to bring your photo ID.</span
                  >
                  <span class="my-4"
                    >Our rental inventory includes over 50 firearms:
                    <ul class="px-4 paragraph-info">
                      <li>Rifles - Pistol Calibered</li>
                      <li>Handguns ranging from 22 caliber to 45 long colt</li>
                      <li>Shotguns</li>
                      <li>
                        A vareity of brand including Sig Sauer, Smith & Wesson,
                        Springfield, Glock, Khar, Taurus, Ruger, CMMG, Beretta,
                        and more.
                      </li>
                    </ul>
                  </span>
                </p>
              </div>
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  Built with safety in mind
                </h2>
                <p class="paragraph-info my-top-small">
                  <span class="my-4"
                    >As the ultimate indoor shooting experience, we provide the
                    best shooting range in Central Florida, built with safety as
                    the number one priority. We have two large bullet proof
                    windows separating the range from the lobby where non
                    shooters can still have a view of the action. Our traps are
                    engineered out of 1/4″ steel that are angled to prevent
                    ricochets and each lane is divided by specially designed
                    bullet proof walls. Our seven lanes are all Pistol, Shotgun,
                    and rimfire capable. We do live in the great state of
                    Florida and our range is generally about the same
                    temperature as it is outside so dress accordingly.
                  </span>
                  <span
                    >Please DO NOT have any loaded magazines or firearms when
                    entering the store. We are pro-carry but due to the constant
                    handling of firearms in the store this rule has been put in
                    place for the safety of all.
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
