<div class="row">
  <div class="col-sm-12">
    <div class="sidebar-and-info">
      <div class="row">
        <div class="col-sm-4">
          <div class="sidebar-and-info__sidebar text-left">
            <h2 class="heading-secondary__sub text-center py-top-small">
              Classes & Training FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              CWP classes
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              $50 for a CWP class
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              CWP classes Mo-Sa 12-3 or 3-6
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              CWP length: 3 hours
            </h2>

            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Free Unlimited Firearm Instruction
            </h2>

            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Free Unlimited Firearm Training
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Weekly Deals
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Safety and Patience is our moto!
            </h2>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="sidebar-and-info__info-bar">
            <h2 class="heading-secondary text-center">
              Classes & Training Information
            </h2>
            <h2 class="heading-tertiary text-center py-top-small">
              Concealed Weapons Permit classes offered || Free unlimited firearm
              training <span>We love teaching our customers</span>
            </h2>
            <div class="row my-top-medium">
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  CWP Hours and Fees
                </h2>
                <p class="paragraph-info my-top-small">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Officiis asperiores a repudiandae laudantium vel, nesciunt
                  obcaecati reprehenderit ad, est quisquam, dolores ex odit
                  explicabo eligendi voluptatem. Praesentium minus veritatis
                  veniam?
                  <span
                    >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis asperiores a repudiandae laudantium vel, nesciunt
                    obcaecati reprehenderit ad, est quisquam, dolores ex odit
                    explicabo eligendi voluptatem. Praesentium minus veritatis
                    veniam?</span
                  >
                </p>
              </div>
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  Firearm Training
                </h2>
                <p class="paragraph-info my-top-small">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Officiis asperiores a repudiandae laudantium vel, nesciunt
                  obcaecati reprehenderit ad, est quisquam, dolores ex odit
                  explicabo eligendi voluptatem. Praesentium minus veritatis
                  veniam?
                  <span
                    >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis asperiores a repudiandae laudantium vel, nesciunt
                    obcaecati reprehenderit ad, est quisquam, dolores ex odit
                    explicabo eligendi voluptatem. Praesentium minus veritatis
                    veniam?</span
                  >
                </p>
              </div>
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  Deals, specials, and instructions
                </h2>
                <p class="paragraph-info my-top-small">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Officiis asperiores a repudiandae laudantium vel, nesciunt
                  obcaecati reprehenderit ad, est quisquam, dolores ex odit
                  explicabo eligendi voluptatem. Praesentium minus veritatis
                  veniam? Lorem ipsum dolor sit amet consectetur, adipisicing
                  elit. Officiis asperiores a repudiandae laudantium vel,
                  nesciunt obcaecati reprehenderit ad, est quisquam, dolores ex
                  odit explicabo eligendi voluptatem. Praesentium minus
                  veritatis veniam?
                  <span
                    >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis asperiores a repudiandae laudantium vel, nesciunt
                    obcaecati reprehenderit ad, est quisquam, dolores ex odit
                    explicabo eligendi voluptatem. Praesentium minus veritatis
                    veniam?</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
