<div class="row">
  <div class="col-sm-12">
    <div class="sidebar-and-info">
      <div class="row">
        <div class="col-sm-4">
          <div class="sidebar-and-info__sidebar text-left">
            <h2 class="heading-secondary__sub text-center py-top-small">
              Classes & Training FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              CWP classes
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              $50 for a CWP class
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              CWP classes: Mo-Sa 9-12 or 12-3
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              CWP night classes: Wed 6pm-9pm
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              CWP length: 3 hours
            </h2>

            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              NRA Firearm Instruction
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Weekly Deals
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Safety and Patience is our motto!
            </h2>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="sidebar-and-info__info-bar">
            <h2 class="heading-secondary text-center">
              Classes & Training Information
            </h2>
            <h2 class="heading-tertiary text-center py-top-small">
              Concealed Weapons Permit classes offered. Free unlimited firearm
              training. <span>We love teaching our customers!</span>
            </h2>
            <div class="row my-top-medium">
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  CWP Hours and Fees
                </h2>
                <p class="paragraph-info my-top-small">
                  The Concealed Weapon Permit Safety is a 3 hour class required in order 
                  to conceal carry a firearm. We offer the CWP Classes Monday -
                  Saturday. On these days we have classes that start at 9:00
                  a.m. until 12:00 p.m. (noon), and another starting at 12:00
                  p.m. (noon) until 3:00 p.m.. We also offer an additional night class
                  on Wednesday that start at 6:00 p.m. until 9:00 p.m.
                  <span class='my-4'>Some additional information about our CWP classes:</span>
                  
                  <ul class="px-4 paragraph-info">
                    <li>The class costs $50.00 (Includes gun & ammunition used during range portion, certificate for completing class, and application).</li>
                    <li>No appointment is required to attend our classes. All we ask is that you show up five or ten min. before the class is scheduled to start.</li>
                    <li>In order to get your certificate you only need to attend 1 of these three hour classes.</li>
                    <li>
                      All you need to bring with you is a form of ID (examples: Drivers license, Passport, Government issued ID) and a form of payment. We accept credit, debit, cash, check or gift certificate for our classes.
                    </li>
                  </ul>
                  <span class="my-4 paragraph-info"
                    >Florida is a “shall issue state” and will issue concealed
                    carry permits to Residents and Non-Residents that meet the
                    state requirements for a Florida concealed carry permit .
                    These permits are valid for seven years.
                    Persons applying for a FL CWP must be 21 years of age and
                    have completed training either through an NRA instructor or
                    military. The state of Florida does not allow Open
                    Carry.</span
                  >
                </p>
              </div>
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  Firearm Training
                </h2>
                <p class="paragraph-info my-top-small">
                  Our cost for firearm training is $50.00 per hour. Training includes access to all of our rental firearms, 
                  unlimited range time, and personal one on one instruction for at least an hour. Ammo and targets are charged separately.
                  <span class='my-4'
                    >If you are looking to purchase a firearm but are new to shooting, we have you covered. Purchase of a 
                    firearm from Oakridge Gun Range includes unlimited firearm training at no extra cost! We won't let you leave our store until
                    you feel 100% comfortable with the firearms you've purchased.</span
                  >
                </p>
              </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
