<div class="row">
  <div class="col-sm-12">
    <div class="sidebar-and-info">
      <div class="row">
        <div class="col-md-4">
          <div class="sidebar-and-info__sidebar text-left">
            <h2 class="heading-secondary__sub text-center py-top-small">
              Range FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              $15 for the first shooter
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              $10 for each additional shooter
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Shoot all day
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              7 Stalls
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Air Conditioned
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Free Firearm Instruction
            </h2>

            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              60+ rental guns
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              $20 one-time rental fee
            </h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="sidebar-and-info__info-bar">
            <h2 class="heading-secondary text-center">Range Information</h2>
            <h2 class="heading-tertiary text-center py-top-small">
              Daily Range Fee is $15 per shooter || $10 each additional shooter
              <span>Safety is our #1 Priority</span>
            </h2>
            <div class="row my-top-medium">
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  Fees, Hours, and Specials
                </h2>
                <p class="paragraph-info my-top-small">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Officiis asperiores a repudiandae laudantium vel, nesciunt
                  obcaecati reprehenderit ad, est quisquam, dolores ex odit
                  explicabo eligendi voluptatem. Praesentium minus veritatis
                  veniam?
                  <span
                    >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis asperiores a repudiandae laudantium vel, nesciunt
                    obcaecati reprehenderit ad, est quisquam, dolores ex odit
                    explicabo eligendi voluptatem. Praesentium minus veritatis
                    veniam?</span
                  >
                </p>
              </div>
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  Gun Rentals
                </h2>
                <p class="paragraph-info my-top-small">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Officiis asperiores a repudiandae laudantium vel, nesciunt
                  obcaecati reprehenderit ad, est quisquam, dolores ex odit
                  explicabo eligendi voluptatem. Praesentium minus veritatis
                  veniam?
                  <span
                    >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis asperiores a repudiandae laudantium vel, nesciunt
                    obcaecati reprehenderit ad, est quisquam, dolores ex odit
                    explicabo eligendi voluptatem. Praesentium minus veritatis
                    veniam?</span
                  >
                </p>
              </div>
              <div class="col-sm-6">
                <h2 class="heading-tertiary--black text-center py-top-small">
                  Built with safety in mind
                </h2>
                <p class="paragraph-info my-top-small">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Officiis asperiores a repudiandae laudantium vel, nesciunt
                  obcaecati reprehenderit ad, est quisquam, dolores ex odit
                  explicabo eligendi voluptatem. Praesentium minus veritatis
                  veniam? Lorem ipsum dolor sit amet consectetur, adipisicing
                  elit. Officiis asperiores a repudiandae laudantium vel,
                  nesciunt obcaecati reprehenderit ad, est quisquam, dolores ex
                  odit explicabo eligendi voluptatem. Praesentium minus
                  veritatis veniam?
                  <span
                    >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Officiis asperiores a repudiandae laudantium vel, nesciunt
                    obcaecati reprehenderit ad, est quisquam, dolores ex odit
                    explicabo eligendi voluptatem. Praesentium minus veritatis
                    veniam?</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
