<div class="row">
  <div class="col-sm-12">
    <div class="sidebar-and-info">
      <div class="row">
        <div class="col-sm-4">
          <div class="sidebar-and-info__sidebar text-left">
            <h2 class="heading-secondary__sub text-center py-top-small">
              CLASSES & TRAINING FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              1-on-1 firearms Training - $30
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              Conceal Weapons Training (CWT)
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              CWT: <span>Monday - Saturday</span> <span>9:00 AM - Noon
                or </span><span>12:30pm - 3:30 PM</span>
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              CWT night classes: <span>Wednesday</span> <span>5:00 PM - 8:00 PM</span>
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              CWT length: 2-3 hours
            </h2>

            <h2 class="heading-tertiary__sub my-top-small px-left-small">
             CWT Cost: $75
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Improve your aim, technique, and safety!
            </h2>
          </div>

          <div class="sidebar-and-info__sidebar text-left my-top-small
            my-bottom-big">
            <h2 class="heading-secondary__sub text-center py-top-medium">
              Firearm Training FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              $30 for personal one-on-one instruction
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Choose any of our 50 rental guns or bring your own firearm
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Ammo and targets are charged separately
            </h2>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="sidebar-and-info__info-bar">
            <h2 class="heading-secondary text-center heading-secondary--bolder">
              Classes & Training Information
            </h2>
            <h2 class="heading-tertiary text-center py-top-small">
              Concealed Weapons Training (CWT) course and 1-on-1 firearm training offered.
              <span>We love teaching our customers!</span>
            </h2>
            <div class="row my-top-medium">
              <div class="col-sm-12 my-bottom-medium">
                <h2 class="heading-tertiary--black text-center 
                  heading-tertiary--bolder">
                  Concealed Weapon Training - Hours and Fees
                </h2>
                <p class="paragraph-info my-top-small">
                  Our Concealed Weapon Training course is perfect for anyone who wants to carry a concealed weapon in Florida. 
                  The course covers Florida law, home invasion scenarios, the responsibility of owning a firearm, and 1-on-1 firearm training. 
                  The class is 2-3 hours and is guaranteed to improve your aiming, technique, and comfortability when using a firearm!
                  <br><br>20 rounds of ammo is also included with the class and you can bring your own handgun or use one of ours. <br><br>
                   
                  This class will also certify you for Florida's Conceal Weapons Permit which is honored by over 35 states.
                  <br> <b>We offer the CWT classes
                     Monday – Saturday from 9:00 AM - Noon or 12:30 - 3:30
                    PM. In addition, we offer one evening class on Wednesdays from
                    5:00 PM - 8:00 PM and one noon class on Sundays from Noon-3:00pm.</b>
                  <span class='my-4'>Some additional information about our CWT
                    classes:</span>
                  <ul class="px-4 paragraph-info">
                    <li>The <b>class costs $75.00</b> (Includes gun & ammunition used
                      during range portion, certificate for completing class,
                      and application).</li>
                    <li>No appointment is required to attend our classes. All we
                      ask is that you show up five or ten minutes before the
                      class is scheduled to start.</li>
                    <li>This will fulfill the requirements for Florida's Conceal Weapons Permit.</li>
                    <li>
                      All you need to bring with you is a form of Government
                      issued ID (examples: Driver’s License, Passport, Florida
                      Identification Card, etc.) and a form of payment. We
                      accept credit, debit, cash, or gift certificate for our
                      classes.
                    </li>
                  </ul>
                  <span class="my-4 paragraph-info">Persons applying for a FL
                    Conceal Weapons Permit must be at least 21 years of age and have completed
                    training through an NRA certified instructor. Honorably
                    discharged
                    veterans should submit a copy of their DD-214 form with
                    their application. The state of Florida does not permit Open
                    Carry. </span>
                </p>
              </div>
              <div class="col-sm-12">
                <h2 class="heading-tertiary--black text-center my-top-big
                  heading-tertiary--bolder">
                  1-on-1 Firearm Training
                </h2>
                <p class="paragraph-info my-top-small">
                  Our 1-on-1 Firearems Training is perfect for those wanting a more personalized experience with firearm training.
                  The training focuses primarily on aiming and technique and is guaranteed to improve your proficiency with your firearm!
                 <br> Our cost for firearm training is $30.00.  Training includes access to all of our rental firearms (or you can bring your own)
                 and a NRA certified instructor. Note that ammo, targets, etc are sold separately. 
          
                  <span class='my-4'> We also offer HR 218 QUALIFICATION for
                    retired Law Enforcement for $50.
                  </span>




                </p>
              </div>
              <div class="col-sm-12">
                <h2 class="heading-tertiary--black text-center my-top-big
                  heading-tertiary--bolder">
                 Basic Safety Training
                </h2>
                <p class="paragraph-info my-top-small">
             
          
                  <span class='my-4'>If you are looking to purchase a firearm
                    but are new to shooting, we have you covered. Purchase of a
                    firearm from Oak Ridge Gun Range includes unlimited basic firearm
                    safety at no extra cost! We won't let you leave our store
                    until you feel 100% comfortable with the firearms you've
                    purchased.</span>
               




                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
