<div class="row">
  <div class="col-sm-12">
    <div class="sidebar-and-info">
      <div class="row">
        <div class="col-sm-4">
          <div class="sidebar-and-info__sidebar text-left">
            <h2 class="heading-secondary__sub text-center py-top-small">
              Gun Smithing FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              Firearm Repairs
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              Handgun Cleaning
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Long Gun Cleaning
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              Trigger Jobs
            </h2>

            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Scope and Sight Mounting
            </h2>

            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Teardown & Inspection
            </h2>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="sidebar-and-info__info-bar">
            <h2 class="heading-secondary text-center">
              Gunsmithing & Repair Information
            </h2>
            <h2 class="heading-tertiary text-center py-top-small">
              Firearms Repairs || Handgun and Long Gun Cleaning
              <span>If it's broke we can fix it!</span>
            </h2>
            <div class="row my-top-medium">
              <div class="col-sm-12">
                <h2 class="heading-tertiary--black text-left py-top-small">
                  Gunsmithing Services
                </h2>
                <p class="paragraph-info my-top-small">
                  At Oak Ridge Gun Range, we believe a well maintained gun is a
                  safe gun. Our professional gunsmith staff offers the following
                  services in house. Please contact Eric for prices on custom
                  repairs. The gunsmith staff services over 40 brands of pistols
                  and rifles.
                </p>
                <p class="paragraph-info my-top-small">
                  Guns can be dropped off at the range 7 days a week, please
                  have your ammunition separate from the firearm. All work is
                  priced by the hour. $45 hour, $25 for 30 minutes.
                </p>
                <p class="paragraph-info my-top-small">
                  Oak Ridge is a FFL Holder and can accept firearm transfers and
                  ship your firearms to you. Contact us for more information.
                </p>
              </div>

              <div class="col-lg-4 my-top-medium">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-case"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    Handgun & Long Gun Cleaning
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      Handgun cleaning $25 per gun, and Long Guns $45 per gun.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 my-top-medium">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-gunsight"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    Scope and Site Mounting
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      We install scopes and sights on many types of rifles.
                      Sight changes are $25 each.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 my-top-medium">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-gear"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">Trigger Jobs</h3>
                  <ul class="info-box__text">
                    <li>
                      We also replace triggers. Starting at $75 ( most models ).
                      This includes polish and reduce pull.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 my-top-small">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-todolist-pen"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    Teardown & Inspection
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      Breakdown and inspect make or model firearm. Cost is $25.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 my-top-small">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-hammer"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    Firearm Repairs
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      Most makes and models. Rates start at $45 hour, $25 for 30
                      minutes.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 my-top-small">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-target"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">Sightings</h3>
                  <ul class="info-box__text">
                    <li>
                      Sightings in rifles are $25 plus cost of ammo. This
                      includes mount, bore sight and shoot. Bore sight only $15.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
