<div class="row">
  <div class="col-sm-12">
    <div class="sidebar-and-info">
      <div class="row">
        <div class="col-sm-4">
          <div class="sidebar-and-info__sidebar text-left">
            <h2 class="heading-secondary__sub text-center py-top-small">
              Gun Smithing FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              Firearm Repairs
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              Handgun Cleaning
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Long Gun Cleaning
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              Trigger Jobs
            </h2>

            <h2
              class="heading-tertiary__sub my-top-small my-bottom-medium px-left-small"
            >
              Scope and Sight Mounting
            </h2>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="sidebar-and-info__info-bar">
            <h2 class="heading-secondary text-center">
              Gunsmithing & Repair Information
            </h2>
            <h2 class="heading-tertiary text-center py-top-small">
              Firearms Repairs || Handgun and Long Gun Cleaning
              <span>If it's broke we can fix it!</span>
            </h2>
            <div class="row my-top-medium">
              <div class="col-sm-12">
                <h2 class="heading-tertiary--black text-left py-top-small">
                  Gunsmithing Services
                </h2>
                <p class="paragraph-info my-top-small">
                  At Oak Ridge Gun Range, we believe a well maintained gun is a
                  safe gun. Our professional gunsmith staff offers the following
                  services in house. The gunsmith staff services over 40 brands
                  of pistols and rifles.
                </p>
                <p class="paragraph-info my-top-small">
                  Guns can be dropped off at the range 7 days a week, please
                  have your ammunition separate from the firearm. We charge
                  $55.00 per hour on gunsmithing work and have a minimum charge
                  of $30.
                </p>
                <p class="paragraph-info my-top-small">
                  Oak Ridge is a FFL Holder and can accept firearm transfers and
                  ship your firearms to you. Contact us for more information.
                </p>
              </div>

              <div class="col-lg-4 my-top-medium">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-case"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    Handgun & Long Gun Cleaning
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      Handgun cleaning $30 per gun, and Long Guns $45 per gun.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 my-top-medium">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-gunsight"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    Scope and Site Mounting
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      We install scopes and sights on many types of rifles.
                      Sight changes are $45 each.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 my-top-medium">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-gear"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">Trigger Jobs</h3>
                  <ul class="info-box__text">
                    <li>
                      We also replace triggers. Starting at $120 ( most models
                      ). This includes polish and reduce pull.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 my-top-small">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-hammer"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    Firearm Repairs
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      Most makes and models. We charge $55.00 per hour on
                      gunsmithing work and have a minimum charge of $30.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 my-top-small">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-target"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">Sightings</h3>
                  <ul class="info-box__text">
                    <li>
                      Handgun Sight install free if sights purchased from us.
                      Handgun sight install $30.00 if you do not purchase sights
                      from us. Install Bead sight on shotgun $45.00 Any other
                      sight install is to be determined based on the firearm and
                      difficulty of install.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
