<div class="row">
  <div class="col-sm-12">
    <div class="sidebar-and-info">
      <div class="row">
        <div class="col-sm-4">
          <div class="sidebar-and-info__sidebar text-left">
            <h2 class="heading-secondary__sub text-center py-top-small">
              Gunsmithing FAQ
              <hr class="my-top-small" />
            </h2>

            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              Firearm Repairs
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              Handgun Cleaning: $30
            </h2>
            <h2 class="heading-tertiary__sub my-top-small px-left-small">
              Long Gun Cleaning: $45
            </h2>
            <h2 class="heading-tertiary__sub my-top-medium px-left-small">
              Trigger Jobs
            </h2>

            <h2
              class="heading-tertiary__sub my-top-small my-bottom-medium px-left-small"
            >
              Scope and Sight Mounting
            </h2>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="sidebar-and-info__info-bar">
            <h2 class="heading-secondary text-center heading-secondary--bolder">
              Gunsmithing & Repair Information
            </h2>
            <h2 class="heading-tertiary text-center py-top-small">
              Firearms Repairs, Handgun and Long Gun Cleaning.
              <span>If it's broke we can fix it!</span>
            </h2>
            <div class="row my-top-medium">
              <div class="col-sm-12">
                <h2
                  class="heading-tertiary--black heading-tertiary--bolder text-left py-top-small"
                >
                  Gunsmithing Services
                </h2>
                <p class="paragraph-info my-top-small">
                  At Oak Ridge Gun Range, we believe a well maintained gun is a
                  safe gun. We service over 40 brands of pistols and rifles. Our
                  professional gunsmith staff offers the following services in
                  house.
                </p>
                <p class="paragraph-info my-top-small">
                  Guns can be dropped off at the range 7 days a week, please
                  have your ammunition separate from the firearm. We charge
                  $55.00 per hour on gunsmithing work and have a minimum charge
                  of $30.
                </p>
              </div>

              <div class="col-lg-6 my-top-medium">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-case"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    Cleaning Services
                  </h3>
                  <ul class="info-box__text">
                    <li>Handgun cleaning: $30 per gun.</li>
                    <li>Handgun deep clean & safety check: $55</li>
                    <li>Long Gun cleaning: $45 per gun.</li>
                    <li>Long Gun deep clean & safety check: $75</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 my-top-medium">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-gunsight"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    Handgun Services
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      Sight Install: $30
                    </li>
                    <li>Glock trigger install: $45</li>
                    <li>Install safety: $45</li>
                    <li>Custom trigger job: $160</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 my-top-medium">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-gear"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    Shotgun Services
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      Bore sight: $45
                    </li>
                    <li>Install bead sights: $45</li>
                    <li>Mount side saddle: $45</li>
                    <li>Install recoil pad: $45</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 my-top-medium">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-target"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    AK-style Services
                  </h3>
                  <ul class="info-box__text">
                    <li>Fit and install furniture: $80</li>
                    <li>Sight in iron sights: $45</li>
                    <li>Single point sling mount install: $45</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 my-top-small">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-hammer"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    AR-15 Services
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      Trigger group install and fit: $45
                    </li>
                    <li>Sight in iron sights: $45</li>
                    <li>Build complete upper or lower: $45</li>
                    <li>
                      Build complete rifle: $80
                      <span>(Does not incl. parts)</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 my-top-small">
                <div class="info-box info-box--ridge">
                  <i
                    class="info-box__icon info-box__icon--small icon-basic-target"
                  ></i>
                  <h3 class="heading-tertiary my-bottom-small">
                    WRITTEN APPRAISALS
                  </h3>
                  <ul class="info-box__text">
                    <li>
                      Estate and insurance estimates: $10 - $25
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
