<!DOCTYPE html>
<html lang="en">
  <%- include('components/head-links'); %>
  <body>
    <div class="container-fluid">
      <header class="header"><%- include('components/nav'); %></header>
    </div>
    <div class="container-fluid">
      <main>
        <section class="section-contact">
          <div class="contact-box">
            <div class="contact-box__content">
              <div class="row">
                <div class="col-sm-12">
                  <h3 class="font-weight-bold">Get in touch</h3>
                  <h2
                    class="heading-secondary heading-secondary__sub heading-secondary__sub--red my-bottom-small"
                  >
                    Contact Us
                  </h2>
                </div>
                <div class="col-lg-5 my-top-medium">
                  <div class="row">
                    <div class="col-lg-12">
                      <h2
                        class="heading-secondary--red text-left font-weight-bold"
                      >
                        <i class="icon-basic-geolocalize-01"></i> Address:
                      </h2>
                      <h2 class="heading-secondary--black text-left ">
                        <span class="py-top-small px-left-medium"
                          ><ul>
                            <li>
                              6160 South Orange Avenue Orlando, Florida 32809
                            </li>
                          </ul></span
                        >
                      </h2>
                      <hr class="w100" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <h2
                        class="heading-secondary--red text-left font-weight-bold my-top-small"
                      >
                        <i class="icon-basic-smartphone"></i>Phone Number:
                      </h2>
                      <h2 class="heading-secondary--black text-left">
                        <span class="py-top-small px-left-medium"
                          ><ul>
                            <li>407-857-5663</li>
                          </ul></span
                        >
                      </h2>
                      <hr class="w100 my-top-small" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <h2
                        class="heading-secondary--red text-left font-weight-bold my-top-small"
                      >
                        <i class="icon-basic-mail-multiple"></i> Email:
                      </h2>
                      <h2 class="heading-secondary--info-orange text-left">
                        <span
                          class="py-top-small px-left-medium font-weight-bold"
                          ><ul>
                            <li class="my-bottom-small">
                              info@oakridgegunrange.com
                            </li>
                          </ul>
                        </span>
                      </h2>
                      <hr class="w100 my-top-small" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <h2
                        class="heading-secondary--red text-left font-weight-bold my-top-small"
                      >
                        <i class="icon-basic-chronometer"></i> Hours:
                      </h2>
                      <h2 class="heading-secondary--black text-left">
                        <span class="py-top-small px-left-medium"
                          ><ul>
                            <li class="my-bottom-small">Open 7 days a week</li>
                            <li class="my-bottom-small">
                              Monday – Saturday: <span>9:00 am – 9:00 pm</span>
                            </li>
                            <li>Sunday: <span>11am – 6pm</span></li>
                          </ul>
                        </span>
                        <span class="py-top-small"></span>
                      </h2>
                      <hr class="w100 my-top-small" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <h2
                        class="heading-secondary--red text-left font-weight-bold my-top-small"
                      >
                        <i class="icon-basic-webpage-multiple"></i> Social
                        Links:
                      </h2>
                      <div
                        class="row my-top-small contact-box__content--social-row"
                      >
                        <div class="col-sm-2 text-left mx-4">
                          <div class="fa-container text-center">
                            <a
                              href="https://www.facebook.com/OakRidgeGunRange/"
                              target="_blank"
                            >
                              <i class="fab fa-facebook-f"></i>
                            </a>
                          </div>
                        </div>
                        <div class="col-sm-2 mx-4">
                          <div class="fa-container text-center">
                            <a
                              href="http://www.tripadvisor.com/Attraction_Review-g34515-d2229469-Reviews-Oak_Ridge_Gun_Range-Orlando_Florida.html"
                              target="_blank"
                            >
                              <i class="fab fa-tripadvisor"></i>
                            </a>
                          </div>
                        </div>
                        <div class="col-sm-2 mx-4">
                          <div class="fa-container text-center">
                            <a
                              href="https://www.yelp.com/biz/oak-ridge-gun-range-orlando-2"
                              target="_blank"
                            >
                              <i class="fab fa-yelp"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-7 my-bottom-big text-center">
                  <div class="contact-box__iframe u-center-text">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14029.251869619808!2d-81.368698!3d28.47012!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb00b5ac6f0548937!2sOak+Ridge+Gun+Range!5e0!3m2!1sen!2sus!4v1547062856216"
                      width="80%"
                      height="80%"
                      frameborder="0"
                      style="border:0"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include('layouts/footer'); %>
    </div>
    <script src="/js/main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
