<!DOCTYPE html>
<html lang="en">
  <%- include('components/head-links'); %>
  <body>
    <div class="container-fluid">
      <header class="header">
        <%- include('components/nav'); %>

        <div class="header__main-section">
          <div class="image-slider">
            <div class="image-slider__box">
              <img
                src="http://oakridgegunrange.com/wp-content/uploads/2013/11/ORGR-Slide-01.png"
                alt="main range image"
                class="image-slider__image"
              />
              <img
                src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-02.png"
                alt="main range image"
                class="image-slider__image"
              />
              <img
                src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-031.png"
                alt="main range image"
                class="image-slider__image"
              />
              <img
                src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-041.png"
                alt="main range image"
                class="image-slider__image"
              />
              <img
                src="http://oakridgegunrange.com/wp-content/uploads/2013/11/RAM-Slide-05.png"
                alt="main range image"
                class="image-slider__image"
              />
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="container-fluid">
      <main>
        <section class="section-about">
          <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-6 text-left">
              <h2
                class="heading-secondary__large heading-secondary__large--red font-weight-bold"
              >
                WELCOME
              </h2>
              <hr class="--red w100 my-bottom-small" />
              <p class="paragraph-info-medium text-left">
                Established in 1986, Oak Ridge Gun Range is Orlando, Florida's
                Premier Gun Shop and Indoor Shooting Range. We are committed to
                providing you with exceptional customer service and a safe
                family oriented atmosphere.
              </p>
              <p class="paragraph-info-medium text-left">
                If you can’t make it to our store, feel free to purchase from us
                on
                <a
                  href="https://www.gunbroker.com/Auction/BrowseItems.aspx?IncludeSellers=760893"
                  target="_blank"
                  >Gun Broker</a
                >
                by clicking "Store" on the navigation above. You could also
                search for username OakRidgeGR at GunBroker.com.
              </p>
            </div>
            <div class="col-lg-4">
              <h2 class="heading-secondary__sub--red">
                <span class="my-bottom-small font-weight-bold"
                  >OPEN 7 DAYS A WEEK</span
                >
                <span class="font-weight-bold">MONDAY – SATURDAY</span>
                <span class="my-bottom-small">9:00 AM – 9:00 PM</span>
                <span class="font-weight-bold">SUNDAY</span>
                <span> 11:00 AM – 6:00 PM</span>
              </h2>
              <div class="row my-top-medium contact-box__content--social-row">
                <div class="col-sm-2 text-left">
                  <a
                    href="https://www.facebook.com/OakRidgeGunRange"
                    target="_blank"
                    style="width: 50px; height: 50px;"
                    ><img
                      class=" wp-image-113 alignleft"
                      alt="Facebook-Icon"
                      src="http://oakridgegunrange.com/wp-content/uploads/2013/06/Facebook-Icon.png"
                  /></a>
                </div>
                <div class="col-sm-2">
                  <a
                    href="http://www.tripadvisor.com/Attraction_Review-g34515-d2229469-Reviews-Oak_Ridge_Gun_Range-Orlando_Florida.html"
                    target="_blank"
                    ><img
                      class=" wp-image-115 alignleft"
                      alt="Trip-Advisor-Icon"
                      src="http://oakridgegunrange.com/wp-content/uploads/2013/06/Trip-Advisor-Icon.png"
                  /></a>
                </div>
                <div class="col-sm-2">
                  <a
                    href="http://www.yelp.com/biz/oak-ridge-gun-range-orlando-2"
                    target="_blank"
                    ><img
                      class=" wp-image-116 alignleft"
                      alt="Yelp-Icon"
                      src="http://oakridgegunrange.com/wp-content/uploads/2013/06/Yelp-Icon.png"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-info">
          <div class="row">
            <div class="col-lg-12 my-bottom-big">
              <h2 class="heading-secondary--white-large text-center">
                Our All-inclusive services
              </h2>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-lg">
              <div class="info-box">
                <i class="info-box__icon icon-basic-target"></i>
                <h3 class="heading-tertiary my-bottom-small">
                  BUY. &#160;SELL. TRADE.
                </h3>
                <ul class="info-box__text">
                  <li>New & used firearms, ammo, holsters & knives</li>
                  <li>Tactical gear & accessories</li>
                  <li>Direct buy, consignments, trade-ins, estate sales</li>
                  <li>Layaway & special orders</li>
                  <li>Firearm transfers</li>
                  <li>Class III or NFA items</li>
                  <li>Gift cards available</li>
                </ul>
              </div>
            </div>
            <div class="col-lg">
              <div class="info-box">
                <i class="info-box__icon icon-basic-gunsight"></i>
                <h3 class="heading-tertiary my-bottom-small">
                  INDOOR SHOOTING RANGE
                </h3>
                <ul class="info-box__text">
                  <li>
                    State-of-the-art 50 foot 7 stall air-conditioned indoor
                    range
                  </li>
                  <li>
                    Pistol calibered handguns, pistol calibered rifles and
                    shotguns allowed
                  </li>
                  <li>Gun rental available</li>
                  <li>
                    30 day unlimited range and instruction with purchase of a
                    firearm
                  </li>
                  <li>No membership required</li>
                  <li>Tourists welcome</li>
                </ul>
              </div>
            </div>
            <div class="col-lg">
              <div class="info-box">
                <i class="info-box__icon icon-basic-hammer"></i>
                <h3 class="heading-tertiary my-bottom-small">GUNSMITHING</h3>
                <ul class="info-box__text">
                  <li>Cleaning</li>
                  <li>Scope and sight mounting</li>
                  <li>Trigger jobs</li>
                  <li>Bore sighting</li>
                  <li>Rebluing</li>
                  <li>Custom AR Builds</li>
                  <li>Insurance evaluations</li>
                  <li>Warranty repair</li>
                  <li>Safety checks</li>
                </ul>
              </div>
            </div>
            <div class="col-lg">
              <div class="info-box">
                <i class="info-box__icon icon-basic-notebook"></i>
                <h3 class="heading-tertiary my-bottom-small">
                  CONCEALED WEAPON CLASSES
                </h3>
                <ul class="info-box__text">
                  <li>
                    Classes held twice daily <span>Mon. – Sat.</span>
                    <span>9:00 a.m. – Noon </span><span>or</span>
                    <span>Noon – 3:00 p.m.</span>
                  </li>
                  <li>Wed. evening <span>6:00 p.m. – 9:00 p.m.</span></li>
                  <li>Class cost: $50.00</li>
                  <li>Passport photo available</li>
                  <li>No appointment necessary</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="section-range-deals">
          <div class="row justify-content-center my-bottom-big">
            <div class="col-sm-8">
              <div class="section-range-deals__heading-container">
                <h2 class="heading-secondary text-center">
                  Specials and deals
                </h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__picture card__picture--1">&nbsp;</div>
                  <div class="card__heading">
                    <span class="card__heading-span card__heading-span--1 text-center"
                      >Military and Veterans Day Tuesdays</span
                    >
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                  <div class="card__cta">
                    <div class="card__backside-box">
                      <h3 class="my-bottom-medium heading-tertiary">
                        Military and Veterans Day Tuesdays
                      </h3>
                      <p class="card__backside-description">
                        Military and Veterans can use our state of the art range
                        for $10 (33% off) every Tuesday!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card__side card__side--front">
                  <div class="card__picture card__picture--2">&nbsp;</div>
                  <div class="card__heading">
                    <span class="card__heading-span card__heading-span--2 text-center"
                      >Ladies Day's Fridays</span
                    >
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-2">
                  <div class="card__cta">
                    <div class="card__backside-box">
                      <h3 class="my-bottom-medium heading-tertiary">
                        Ladies Day's Fridays
                      </h3>
                      <p class="card__backside-description">
                        Ladies can use our state of the art range for $7.50 (50%
                        off) every Friday!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section style="position:relative;" class="section-virtual-tour">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <div class="titleBar">
                  <h3>Experience</h3>
                  <h2
                    class="heading-secondary heading-secondary__sub heading-secondary__sub--red my-bottom-small"
                  >
                    Virtual Tour
                  </h2>
                  <hr class="--red w100 my-bottom-small" />
                </div>
                <div class="section-virtual-tour__map-container text-center">
                  <iframe
                    src="https://www.google.com/maps?layer=c&amp;sll=28.470132999999997,-81.368652&amp;cid=-5761411487808321225&amp;panoid=SBrDHIsfSJ4AAAQJOMN1fg&amp;cbp=13,254.41,,0,0&amp;q=oak+ridge+gun+range&amp;ie=UTF8&amp;hq=oak+ridge+gun+range&amp;hnear=&amp;t=m&amp;cbll=28.470159,-81.368698&amp;source=embed&amp;ll=28.466399,-81.368694&amp;spn=0.013204,0.041199&amp;z=15&amp;output=svembed"
                    frameborder="0"
                    marginwidth="0"
                    marginheight="0"
                    scrolling="no"
                  ></iframe>
                </div>
                <p class="text-center">
                  <small
                    ><a
                      style="color: #0000ff; text-align: left;"
                      href="https://www.google.com/maps?layer=c&amp;sll=28.470132999999997,-81.368652&amp;cid=-5761411487808321225&amp;panoid=SBrDHIsfSJ4AAAQJOMN1fg&amp;cbp=13,254.41,,0,0&amp;q=oak+ridge+gun+range&amp;ie=UTF8&amp;hq=oak+ridge+gun+range&amp;hnear=&amp;t=m&amp;cbll=28.470159,-81.368698&amp;source=embed&amp;ll=28.466399,-81.368694&amp;spn=0.013204,0.041199&amp;z=15"
                      >View Larger Map</a
                    ></small
                  >
                </p>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
          <!-- ./container -->
        </section>
        <section class="section-store">
          <%- include('components/store'); %>
        </section>
      </main>
      <%- include('layouts/footer'); %>
    </div>
    <script src="/js/main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
