.section-info {
  padding: 10rem 5rem 15rem 5rem;
}

.section-range-deals {
  padding: 5rem 5rem 10rem 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-tertiary-light, 0.8),
      rgba($color-tertiary-dark, 0.8)
    ),
    url(../img/range-9.png);
  background-size: cover;

  &__heading-container {
    padding: 1rem;
    border-radius: $default-border-radius;
    background-color: $color-tertiary-light;
  }
}

.section-store {
  padding: 10rem 15rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    lighten($color-primary, 3%) 55%,
    $color-primary 70%,
    darken($color-primary, 3%) 80%,
    darken($color-primary, 15%)
  );
  @include responsive(phone) {
    padding: 5rem 5rem;
  }
}
