.section-contact {
  padding: 5rem 25rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, 0.8),
      rgba($color-secondary-dark, 0.8)
    ),
    url("../img/hero-1.jpg");
  background-size: auto;
  position: relative;

  @include responsive(phone) {
    padding: 1rem 0.5rem;
  }
}

.contact-box {
  position: relative;
  z-index: 1;
  border-radius: $default-border-radius;
  box-shadow: 0 2.5rem 4.5rem rgba($color-black, 0.15);
  border: 5px ridge $color-tertiary-light;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-tertiary-light, 0.97),
      rgba($color-tertiary-dark, 0.97)
    ),
    url("../img/hero-1.jpg");
  background-size: auto;

  &__content {
    padding: 5rem;
    position: relative;

    &--social-row {
      position: relative;
      z-index: 10;
    }
  }

  &__iframe {
    height: 40rem;
    width: 60rem;
    margin: 0 auto;
    position: relative;
    z-index: 9999999;
    @include responsive(tab-land) {
      height: 25rem;
      width: 40rem;
    }
    @include responsive(phone) {
      height: 15rem;
      width: 25rem;
    }
  }
}
