.section-contact {
  padding: 5rem 25rem;
}

.contact-box {
  height: 90rem;
  position: relative;
  z-index: -1;
  border-radius: $default-border-radius;
  box-shadow: 0 2.5rem 4.5rem rgba($color-black, 0.15);
  border: 5px ridge $color-tertiary-light;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero-1.jpg");
  background-size: auto;

  &__content {
    padding: 5rem;
  }
}
