.image-slider {
  &__box {
    @include absCenter;
    width: 60vw;
    height: 50vh;

    border: 5px ridge $color-tertiary-light;
    box-shadow: 0 1.5rem 2.5rem rgba($color-black, 0.4);
    overflow: hidden;

    @include responsive(tab-land) {
      width: 70vw;
      height: 45vh;
    }

    @include responsive(phone) {
      width: 95vw;
      height: 35vh;
    }

    @include responsive(small-phone) {
    }
  }
  &__box img {
    width: 100%;
    height: 100%;
    @include responsive(phone) {
      width: 95vw;
      height: 35vh;
    }
    @include responsive(small-phone) {
    }
  }
  &__image {
    @include absCenter;
    border-radius: $default-border-radius;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    background-size: cover;
    animation-name: fadeIn;
    animation-duration: 2s;
  }
}
