.navbar {
  position: relative;
  background-color: $color-white;
  padding: 7rem 1rem;
  z-index: 99999999;

  & ul {
    @include responsive(tab-awk) {
      z-index: 99999999999;
      background-color: $color-white;
      border-radius: $default-border-radius;
      margin-top: 2rem;
      margin-right: 5rem;
      padding: 1rem;
    }
  }

  & button {
    &:focus {
      outline: 0;
    }
  }

  &__logo-box {
    top: 2rem;
    left: 4rem;
  }

  &__logo-image {
    width: 20%;
    position: absolute;
    top: 0.5rem;
    left: 4rem;
    @include responsive(tab-land) {
      width: 25%;

      top: 0rem;
    }
    @include responsive(tab-awk) {
      width: 30%;
    }

    @include responsive(phone) {
      width: 40%;
      z-index: 1;
    }

    @include responsive(small-phone) {
      top: 1rem;
      width: 50%;
    }

    &--default {
      animation-name: fadeOutDefault;
      animation-iteration-count: infinite;
      animation-duration: 5s;
    }
    &--1hole {
      animation-name: fadeOutHole1;
      animation-iteration-count: infinite;
      animation-duration: 5s;
    }
    &--2holes {
      animation-name: fadeOutHoles2;
      animation-iteration-count: infinite;
      animation-duration: 5s;
    }
    &--3holes {
      animation-name: fadeOutHoles3;
      animation-iteration-count: infinite;
      animation-duration: 5s;
    }
  }

  &__toggler {
    z-index: 9999;
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
    background-color: $color-white;
    padding: 1rem;
    &:hover {
      background-color: lighten($color-tertiary-light, 3);
    }
  }

  &__toggler-icon {
    font-size: 3rem;
  }

  &__main-nav {
    position: absolute;
    padding: 3rem 1rem;
    right: 1rem;
    transform: translateY(-50%, -50%);
    @include responsive(phone) {
      z-index: 9;
    }
  }

  &__nav-link {
    font-size: 1.6rem;
    color: $color-primary;
    font-weight: bold;
    @include responsive(tab-land) {
      font-size: 1.5rem;
    }

    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      border: 10px solid transparent;
    }

    &:hover,
    &:active {
      background-color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      border: 10px solid $color-primary;
      border-radius: 0.5rem;
    }
  }
  &__nav-items {
    display: inline-block;
    margin-right: 4rem;
    font-size: $default-font-size;

    @include responsive(tab-land) {
      margin-right: 2rem;
    }
  }
}
