// COLORS
$color-primary: #d61a20;
$color-primary-light: #e73c41;
$color-primary-dark: #a91419;

$color-secondary-light: #5b5b5b;
$color-secondary-dark: #333333;

$color-tertiary-light: #e1e1e1;
$color-tertiary-dark: #b4b4b4;

$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-off-white: #eee;
$color-white: #fff;
$color-black: #000;

$color-yellow-1: #ffbf00;

// FONT
$default-font-size: 1.6rem;
$default-font-family: Lato, sans-serif;

//MISC.

$default-border-radius: 3px;
